{% import 'product/macros.html.twig' as macros %}

{% extends 'layouts/print_catalog.html.twig' %}

{% do pimcore_head_link().appendStylesheet('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css',null,null,{integrity:"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC",crossorigin:"anonymous"}) %}

{% block content %}
 {# Marca #}
    {{bicicleta.brand[0].name}}
    {# {{bicicleta.id}} #}
    {# {{ dump(bicicleta.brand[0] ) }} #}
    {# {{ bicicleta.brand.brand.thumbnail('print_product_detail_manufacturer').getHTML({imgAttributes: {class: 'img-fluid float-right'}})|raw }} #}
    {# Nome / serie #}
    <h1>{{bicicleta.name}} {{bicicleta.serie}}</h1>
    {# Coleção #}
    <h4>{{bicicleta.collectionYear}}/{{bicicleta.collectionYear2}}</h4>
    {# Capa #}
    {% if bicicleta.cover %}

        {{bicicleta.cover.thumbnail('print_product_detail').getHTML({imgAttributes: {class: 'img-fluid'}})|raw }}
    {% endif %}
    {# Uso Recomendado #}
    {% if bicicleta.useRecommendation %}
        {% for recomendation in bicicleta.useRecommendation %}
            <b>{{recomendation.name}}<b>
            <p>{{recomendation.textDesc}}<p>
        {% endfor %}
    {% endif %}
    {#  Destaques #}
    {% if bicicleta.featuresList %}

        {% for feature in bicicleta.featuresList %}
            <b>{{feature.name}}<b>
            <p>{{feature.description}}<p>
        {% endfor %}
    {% endif %}
    {# Selos  #}
    {% if bicicleta.label %}
        {% for label in bicicleta.label %}
            <b>{{label.name}}<b>
            {{label.textDesc}}
        {% endfor %}
    {% endif %}
    {# Descriçnão #}
    {# {{bicicleta.description}} #}
    {# Quadro #}
    {% if(bicicleta.frame) %}
        {{ macros.bike(bicicleta.frame, 'frame') }}
    {%  endif %}
    {# HeadSet #}
    {% if(bicicleta.headSet) %}
        {{ macros.bike(bicicleta.headSet, 'headSet') }}
    {%  endif %}
    {# Suspensão #}
    {% if(bicicleta.fork) %}
        {{ macros.bike(bicicleta.fork, 'Suspensão') }}
    {%  endif %}

     {# Suspensão #}
    {% if(bicicleta.rearShock) %}
        {{ macros.bike(bicicleta.rearShock, 'rearShock') }}
    {%  endif %}

    {% if(variants)%}
        {% for variant in variants %}
        
        <p style="color:{{variant.cor.getHex()}};">{{variant.cor.getHex()}}</p>
        <p style="color:{{variant.cor2.getHex()}};">{{variant.cor2.getHex()}}</p>
        <p style="color:{{variant.cor3.getHex()}};">{{variant.cor3.getHex()}}</p>
        <p> {{ variant.frameSize }} - {{variant.typeTaxation}}/{{ variant.jppCode }}</p>
        <hr />
        {% endfor %}
    {%  endif %}


    {# {{ dump(bicicleta.geometry ) }} #}
    {% if bicicleta.geometry %}
        {% for geo in bicicleta.geometry %}
            <h1>Geometria</h1>
            {{ geo.frameSizes }}
            {{ geo.wheelSizes }}
            {{ geo.wheel[0].size.value  }}
            {{ geo.frameSize[0].size.value }}
            {# {{ dump(geo ) }} #}
            {{geo.geoimage}}
            {% if(geo.SeatTube) %}
                {{ macros.geometry(geo.SeatTube, 'Seat Tube') }}
            {%  endif %}
            {% if(geo.SeatTubeAngle) %}
                {{ macros.geometry(geo.SeatTubeAngle, 'SeatTubeAngle') }}
            {%  endif %}
            {% if(geo.TopTubeLengthReal) %}
                {{ macros.geometry(geo.TopTubeLengthReal, 'TopTubeLengthReal') }}
            {%  endif %}
            {% if(geo.TopTubeLengthVirtual) %}
                {{ macros.geometry(geo.TopTubeLengthVirtual, 'TopTubeLengthVirtual') }}
            {%  endif %}
            {% if(geo.HeadTubeLength) %}
                {{ macros.geometry(geo.HeadTubeLength, 'HeadTubeLength') }}
            {%  endif %}
            {% if(geo.ChanstayLength) %}
                {{ macros.geometry(geo.ChanstayLength, 'ChanstayLength') }}
            {%  endif %}
            {% if(geo.FronCenterLength) %}
                {{ macros.geometry(geo.FronCenterLength, 'FronCenterLength') }}
            {%  endif %}
            {% if(geo.WeelbaseLength) %}
                {{ macros.geometry(geo.WeelbaseLength, 'WeelbaseLength') }}
            {%  endif %}
            {% if(geo.Stack) %}
                {{ macros.geometry(geo.Stack, 'Stack') }}
            {%  endif %}
            {% if(geo.Stack) %}
                {{ macros.geometry(geo.Stack, 'Stack') }}
            {%  endif %}
            {% if(geo.Reach) %}
                {{ macros.geometry(geo.Reach, 'Reach') }}
            {%  endif %}
            {% if(geo.ForkLength) %}
                {{ macros.geometry(geo.ForkLength, 'ForkLength') }}
            {%  endif %}
            {% if(geo.ForkRakeOffset) %}
                {{ macros.geometry(geo.ForkRakeOffset, 'ForkRakeOffset') }}
            {%  endif %}
            {% if(geo.Trial) %}
                {{ macros.geometry(geo.Trial, 'Trial') }}
            {%  endif %}
        {% endfor %}
    {% endif %} 

{% endblock %}
